<html>
    <header>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Acme Products</title>
        <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
    </header>
    <body>
        <div class='container'>
            <h1>Acme Products</h1>
            <div class="well">
                Welcome Acme Products! Our top selling product is <a href="/products/{{topId}}">{{topName}}</a> <br>
                <a href='/products'>See all of our products!</a>
            </div>
        </div>
    </body>
</html>
